#credit-screen {
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 950px;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
}

#credit-title {
    margin-top: 2%;
    margin-left: 5%;
    height: 20%;
}

#credit-screen-middle-container {
    line-height: 1.2rem;
    color: white;
    height: 60%;
    min-height: 500px;
}

#credit-screen-middle-container > p {
    font-family: "Quantico", "IBM Plex Sans KR", sans-serif;
    font-size: 2rem;
    line-height: 3.5rem;
    margin: 0;
    padding: 0 4rem 0 4rem;
}

#credit-screen-middle-container p {
    margin: 2rem 2rem 2rem 3rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
    height: 20%;
}