#help-screen {
    width: 100vw;
    height: 100vh;
    background-color: black;
    min-height: 950px;
    display: flex;
    flex-direction: column;
}

#help-screen-top-container {
    height: 20%;
}

#help-screen-middle-container {
    height: 60%;
    color: white;

}

.help-list {
    font-size: 2rem;
}

.help-description {
    font-size: 1.4rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
    height: 20%;
}