/*TODO: 브라우저 height resize시 table 이 title 침범함. min-width or min-height 설정하거나 알아서 해봐*/

#score-screen {
    background-color: black;
    width: 100vw;
    height: 100vh;
    min-height: 950px;
    display: flex;
    flex-direction: column;
}

#score-screen-top-container {
    height: 20%;
}

#score-title {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 3rem;
    color: white;
}

#score-screen-middle-container {
    height: 60%;
    display: flex;
    min-height: 580px;
    justify-content: center;
    align-items: center;
    color: white;
}

/*table {*/
/*    width: 80%;*/
/*    height: 100%;*/
/*}*/

th, td {
    text-align: center;
    font-family: "Quantico", "IBM Plex Sans KR", sans-serif;
    font-size: 2rem;
    padding: 0 0.9rem 0 0.9rem;
}

th {
    border-top: 0.5rem solid white;
}


tr:nth-child(even) {
    background-color: #282828;
}

tr:nth-child(odd) {
    background-color: #181818;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20%;
}